*{
	padding:0;
	margin:0;
}

.menu{
	display:flex;
	text-align:center;
	padding: 30px;
	width:100%;
	background-color:$menu;
}

.menu__item{
	display:inline-block;
	font-size:10px;
	font-weight:700;
	color:white;
	padding-left:80px;
	margin-top:5px;
	position:relative;
	left:350px;
}

.menu__item__link{
	color:white;
	text-decoration:none;
	cursor:pointer;
	font-size:17px;
	}

.datos{
	width:100%;
	height:500px;
	background-color:$fondo;

//Element
&__nombre{
	color:$titulo;
	text-align:center;
	padding-top:2%;
}

&__web{
	color:$texto;
	text-align:center;
	padding-left:5%;
}

&__descripcion{
	color:$texto;
	text-align:center;
	padding-left:43%;
}

&__boton{
	color:white;
	background:$boton;
	text-align:center;
	margin-left:43%;
	border-radius:20px;
	border:none;
	padding:10px 40px;
	cursor:pointer;
}


}

